/.bundle/
/.idea/
/.yardoc
/_yardoc/
/coverage/
/doc/c/
/doc/java/
/doc/rb/
/doc/rust/
/pkg/
/spec/reports/
/top-100-gems/
tmp/
/vendor/bundle

/build/
/lib/prism/prism.*
/lib/prism.bundle
/lib/prism.so
/test.rb
.DS_Store
*.dSYM
/*.iml
*~

test.c
a.out
out.svg

/ext/prism/api_node.c
/fuzz/output/
/gemfiles/typecheck/bin/
/include/prism/ast.h
/include/prism/diagnostic.h
/javascript/node_modules/
/javascript/package-lock.json
/javascript/src/deserialize.js
/javascript/src/nodes.js
/javascript/src/visitor.js
/javascript/src/prism.wasm
/javascript/src/*.d.ts
/java/org/prism/AbstractNodeVisitor.java
/java/org/prism/Loader.java
/java/org/prism/Nodes.java
/lib/prism/compiler.rb
/lib/prism/dispatcher.rb
/lib/prism/dot_visitor.rb
/lib/prism/dsl.rb
/lib/prism/inspect_visitor.rb
/lib/prism/mutation_compiler.rb
/lib/prism/node.rb
/lib/prism/reflection.rb
/lib/prism/serialize.rb
/lib/prism/visitor.rb
/sorbet/
/src/diagnostic.c
/src/node.c
/src/prettyprint.c
/src/serialize.c
/src/token_type.c
/src/**/*.o
/sig/prism.rbs
/sig/prism/dsl.rbs
/sig/prism/mutation_compiler.rbs
/sig/prism/node.rbs
/sig/prism/visitor.rbs
/sig/prism/_private/dot_visitor.rbs
/rbi/prism/dsl.rbi
/rbi/prism/node.rbi
/rbi/prism/visitor.rbi

compile_commands.json
.cache/
.vscode/

tags
