/.bundle/
/.idea/
/.vscode/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/top-100-gems/
/tmp/

/build/
/lib/yarp/yarp.*
/lib/yarp.bundle
test.rb
test-native/run-one
*.dSYM

/ext/yarp/api_node.c
/include/yarp/ast.h
/java/org/yarp/AbstractNodeVisitor.java
/java/org/yarp/Loader.java
/java/org/yarp/Nodes.java
/lib/yarp/node.rb
/lib/yarp/serialize.rb
/src/node.c
/src/prettyprint.c
/src/serialize.c
/src/token_type.c

compile_commands.json
.cache/

configure
Makefile

tags
