/.bundle/
/.idea/
/.vscode/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/build/
/lib/yarp/yarp.*
test.rb
test-native/run-one
*.dSYM

/ext/yarp/node.c
/java/org/yarp/AbstractNodeVisitor.java
/java/org/yarp/Loader.java
/java/org/yarp/Nodes.java
/lib/yarp/node.rb
/lib/yarp/serialize.rb
/src/ast.h
/src/node.c
/src/node.h
/src/prettyprint.c
/src/serialize.c
/src/token_type.c

compile_commands.json
.cache/
