bin/templates/**/*.c.erb linguist-language=C
bin/templates/**/*.h.erb linguist-language=C
bin/templates/**/*.java.erb linguist-language=Java
bin/templates/**/*.rb.erb linguist-language=Ruby

test/fixtures/seattlerb/**/*.txt linguist-vendored
test/fixtures/unparser/**/*.txt linguist-vendored
test/fixtures/whitequark/**/*.txt linguist-vendored
test/snapshots/**/*.txt linguist-generated
